<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <title>Order Failed | DigMart</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/seller/login.css" rel="stylesheet">
    <link href="/css/auth.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/digmart-7f2d3.appspot.com/o/images%2Falert.webp?alt=media&token=9a0db2a5-597a-4807-b0b5-b67cbb9d93da" width="120px">
                    <h4 class="mt-2">Payment Failed</h4>
                    <span>Ooos! Looks like something went wrong.</span>
                    <a role="button" href="/seller/login" class="mt-3 btn btn-outline-secondary text-dark">Try Again!</a>
                </div>
            </div>
        </div>

    </div>
</body>

<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>